<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>모집글 상세 보기</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/recruitment/recruitment.css"/> <!-- 스타일 시트 경로 -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/recruitment/detail.css}">
</head>

<body>
<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<main style="margin-top: 20px;" id="reside-con">
    <!-- Main Content -->
    <section class="content" id="activity-content">
        <div>
            <h1>모집글 상세 보기</h1>
        </div>
        <div class="writer-con">
            <div class="profile-picture">
                <img th:src="${recruitment.user.picture != null} ? @{${recruitment.user.picture}} : @{/images/default.jpg}"
                     th:alt="${recruitment.user.picture != null} ? '프로필 사진' : '기본 프로필 사진'"
                     class="profile-img"
                     id="current-profile-image" />
            </div>

            <div class="writer-info">
                <span class="writer-name">작성자 : </span>
                <span class="writer-username" th:text="${recruitment.user.username}"></span>
            </div>

            <br>

            <div class="guestbook-button">

                <button type="button"
                        class="write-guestbook-btn"
                        th:if="${session.user == null}"
                        onclick="alert('로그인 후 이용해주세요');">
                    방명록 작성
                </button>

                <button type="button"
                        class="write-guestbook-btn"
                        th:if="${session.user != null}"
                        onclick="openModal()">
                    방명록 작성
                </button>
            </div>
        </div>
        <!-- 방명록 작성 모달창 -->
        <div id="guestbook-modal" class="modal-overlay" style="display: none;">
            <div class="modal-content">
                <div class="dashboard-write">
                    <div class="guest-textarea">
                        <label for="guestbook-comment" class="screen_out">방명록 작성</label>
                        <textarea id="guestbook-comment" placeholder="내용을 입력하세요." class="guest-textarea-input"></textarea>
                        <div class="guest-submit-con">
                            <button type="submit" class="guest-submit-btn" onclick="submitGuestbook()">등록</button>
                        </div>
                    </div>
                    <br>
                    <button class="modal-close" onclick="closeModal()">닫기</button>
                </div>
            </div>
        </div>

        <div th:if="${session.user != null}">
            <input type="hidden" id="username" th:value="${session.user.getUsername()}">
            <input type="hidden" id="userId" th:value="${session.user.getId()}">
        </div>

        <!-- 모집글 작성자 아이디 -->
        <input type="hidden" id="targetUserId" th:value="${recruitment.getUser().getId()}">

        <div class="details-box">
            <!-- 모집글 상세 보기 -->
            <div class="status-con">
                <h3 th:text="${recruitment.status} + '(' + ${recruitment.applyCount} + '/' + ${recruitment.recruitmentCount} + ')'"></h3>
                <div>
                    <span th:text="${recruitment.goal != null ? recruitment.goal : '정보 없음'}"></span> |
                    <span th:text="${recruitment.startDate != null ? recruitment.startDate : '정보 없음'}"> </span> |
                    <span th:text="${recruitment.challengeTime != null ? recruitment.challengeTime : '정보 없음'}"></span> |
                    <span th:text="${recruitment.proficiency != null ? recruitment.proficiency : '정보 없음'}"></span>
                </div>
            </div>
            <br>
            <div class="details-title" th:if="${recruitment != null}" th:text="${recruitment.title}">제목</div>
            <div class="details-content">
                <div class="box-container">
                    <!-- 실제 지원자 표시 -->
                    <div th:each="team : ${rtTeams}" class="box">
                        <div class="apply-container">
                            <h3 th:text="${team.user.username}"></h3>
                            <p th:text="'아이템 레벨: ' + ${team.characterEntity.itemAvgLevel}">아이템 레벨</p>

                            <form th:action="@{/api/recruitment/cancel/{id}(id=${recruitment.id})}" method="post"
                                  onsubmit="return confirm('정말 지원을 취소하시겠습니까?');">
                                <button th:if="${sessionUser != null and sessionUser.id == team.user.id}" type="submit" class="cancel-button" aria-label="취소">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <circle cx="12" cy="12" r="11" fill="#FF0000" />
                                        <path d="M6.7 6.7 L17.3 17.3 M17.3 6.7 L6.7 17.3" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                </button>
                            </form>

                        </div>
                    </div>

                    <!-- 남은 빈 자리 표시 -->
                    <div th:each="i : ${#numbers.sequence(rtTeams.size(), recruitment.recruitmentCount)}" class="box empty-box"
                         th:if="${i > rtTeams.size()}">
                        <p>빈 자리</p>
                    </div>
                </div>
            </div>

            <form id="character-form" action="/api/recruitment/submit-character" method="POST">
                <input type="hidden" id="selected-character" name="selectedCharacter">
                <input type="hidden" id="recruitment-id" name="recruitmentId" th:value="${recruitment.id}">
                <div class="form-div">
                    <!-- 지원 완료 버튼: 세션 유저가 이미 지원한 경우 -->
                    <div th:if="${sessionUser != null}">
                        <!-- 모집팀 중에 세션 유저와 같은 유저가 있는지 확인 -->
                        <div th:if="${recruitmentTeams.![user.id].contains(sessionUser.id)}">
                            <!-- 세션 유저와 같은 유저가 있으면 '지원완료' 버튼 -->
                            <a href="#" id="apply-btn" class="disabled" th:text="'지원완료'"></a>
                        </div>

                        <!-- 모집팀 중 세션 유저가 없으면 '지원하기' 버튼 -->
                        <div th:unless="${recruitmentTeams.![user.id].contains(sessionUser.id)}">
                            <a href="#" id="apply-btn"
                               th:onclick="'showCharacterModal()'"
                               th:text="'지원하기'"></a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn-group">
                <a href="/api/recruitment" class="btn-back">목록으로</a>
                <!-- 삭제 버튼을 작성자에게만 보이도록 -->
                <form th:action="@{/api/recruitment/delete/{id}(id=${recruitment.id})}" method="post"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button th:if="${sessionUser != null and sessionUser.id == recruitment.user.id}" type="submit" class="btn-delete">삭제</button>
                </form>
                </div>

            <div id="character-modal" class="character-modal">
                    <div class="character-content">
                        <span class="character-close-btn" onclick="closeCharacterModal()">&times;</span>
                        <h2>지원할 캐릭터 선택</h2>
                        <select id="character-select">
                            <option value="" disabled selected>캐릭터를 선택하세요</option>
                            <option th:each="character : ${characterList}"
                                    th:value="${character.id}"
                                    th:text="${character.characterName}">
                            </option>
                        </select>

                        <div class="apply-div">
                         <button onclick="applyCharacter()" class="btn-apply-character">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/js/recruitment/recruitment.js"></script>
<script th:src="@{/js/recruitment/detail.js}"></script>

<!-- Footer -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>