<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>모집글 상세 보기</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/recruitment/recruitment.css"/> <!-- 스타일 시트 경로 -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
</head>

<body>
<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<main style="margin-top: 20px;" id="side-con">

    <!-- Main Content -->
    <section class="content" id="activity-content">
        <div>
            <h1>모집글 상세 보기</h1>
        </div>
        <br>
        <br>
        <div class="details-box">
            <!-- Optional 객체의 존재 여부를 체크하고, 값이 있을 때만 출력 -->
            <div class="details-title" th:if="${recruitment.isPresent()}"
                 th:text="${recruitment.get().title}">제목</div>
            <div class="details-content">
                <p><strong>목표:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().goal : '정보 없음'}"></span></p>
                <p><strong>시간:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().time : '정보 없음'}"></span></p>
                <p><strong>요일:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().day : '정보 없음'}"></span></p>
                <p><strong>숙련도:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().proficiency : '정보 없음'}"></span></p>
                <p><strong>도전 시간:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().challengeTime : '정보 없음'}"></span></p>
                <p><strong>출발 날짜:</strong> <span th:text="${recruitment.isPresent() ? recruitment.get().startDate : '정보 없음'}"></span></p>
                <!-- 필요에 따라 채팅방 링크 추가 -->
                <a href="#" id="createChatRoomLink">채팅방 만들기</a>
            </div>
        </div>
    </section>
</main>

<script src="/js/recruitment/recruitment.js"></script>

<!-- Footer -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>
