<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <title>커뮤니티</title>
  <meta name="viewport"
        content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
  <!-- content script -->
  <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/community/community.css}">
  <script src="https://kit.fontawesome.com/18ca68d85c.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main style="margin-top: 20px;" id="side-con">
  <div class="board-header">
    <h1>커뮤니티 게시판</h1>
    <button class="btn-new-post"
            th:onclick="${session.user != null} ? 'window.location.href=\'/community/create\'' : 'showLoginMessage()'">
      New Post
    </button>

  </div>

  <div class="post-list">
    <div th:each="post : ${postPage.content}" class="post-card">
      <h3><a th:href="@{/community/view/{id}(id=${post.id})}" th:text="${post.title}"></a></h3>
      <p th:text="${post.content}"></p>
      <div class="post-meta">
        Posted by <span th:text="${post.user.username}"></span>
        <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
      </div>
    </div>
  </div>

  <div class="pagination">
    <a th:href="@{/community(page=${postPage.number - 1})}"
       th:if="${postPage.hasPrevious()}"
       class="pagination-button">&#171; 이전</a>
    <a th:if="${!postPage.hasPrevious()}"
       class="pagination-button disabled">&#171; 이전</a>

    <span th:each="i : ${#numbers.sequence(1, postPage.totalPages)}">
        <a th:href="@{/community(page=${i - 1})}"
           th:text="${i}"
           th:classappend="${i == postPage.number + 1} ? 'active' : ''"
           class="pagination-button"></a>
    </span>

    <a th:href="@{/community(page=${postPage.number + 1})}"
       th:if="${postPage.hasNext()}"
       class="pagination-button">다음 &#187;</a>
    <a th:if="${!postPage.hasNext()}"
       class="pagination-button disabled">다음 &#187;</a>
  </div>

</main>
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
<script type="text/javascript">
  function showLoginMessage() {
    alert("로그인 후 이용해주세요.");
  }
</script>
</body>
</html>