<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 > 게시글 작성</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/community/create-post.css}">
</head>
<body>
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<div class="page-container">
    <div class="container">
        <h2>게시글 작성</h2>
        <form action="/community/create" method="POST">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>

            <label for="content">내용</label>
            <textarea id="content" name="content" required></textarea>

            <div class="btn-group">
                <button type="button" class="btn-cancel" onclick="window.location.href='/community'">취소</button>
                <button type="submit" class="btn-submit">등록</button>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>