<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<footer th:fragment="footerFragment" class="">

	<!-- footer 전체 컨테이너 -->
		<div class="footer-container">
		<!-- footer 미니 컨테이너 -->
			<div class="footer-mini-container">
				<div class="left-container">
					<!-- 로고 컨테이너 -->
					<div class="logo-container">
						<p>로고입니다.</p>
					</div>

					<div class="info-container">
						<div class="business-info">
							<button id="show-info">
								<div class="info-icon">
									<i class="fa-solid fa-square-caret-down"></i>
								</div>
							</button>
							<div id="business-details">
								<div>이름 : 안병우
								<span>|</span>
								전화 : 010-0000-0000 (00:00 ~ 24:00)
								<span>|</span>
								 이메일 : anbyungwoo@naver.com
								</div>
							</div>
						</div>
						<div class="warning">포트폴리오 프로젝트를 위해 개발된 사이트입니다. 무단 도용 및 배포를 절대 금지합니다</div>
					</div>
				</div> <!-- left 컨테이너 끝 -->

				<div class="right-container">
					<div>
						<div class="title">Ours</div>
						<nav>
							<a href="#">이우진</a>
							<a href="#">이민주</a>
							<a href="#">이경빈</a>
						</nav>
						<div class="title">Products</div>
						<nav>
							<a href="#">고객센터</a>
							<a href="#">빌드 연구소</a>
							<a href="#">자유게시판</a>
						</nav>
					</div>
				</div> <!-- right 컨테이너 끝 -->

			</div>

		</div> <!-- footer 전체 컨테이너 끝 -->
	</footer>

</html>