<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--sideBarFragment 선언-->
<aside th:fragment="sideBarFragment" class="sidebar">
    <div class="profile-section">
<!--        <img src="/images/bono.jpg" alt="프로필 사진" class="sidebar-profile">-->
        <img th:if="${user.getPicture() != null}"
             th:src="@{${user.getPicture()}}"
             alt="프로필 사진"
             class="sidebar-profile">
        <img th:unless="${user.getPicture() != null}"
             th:src="@{/images/default.jpg}"
             alt="프로필 사진"
             class="sidebar-profile">
        <h2 th:text="${user.getUsername()}"></h2>
        </div>
    </div>
    <ul class="menu">
        <li><a href="/mypage/info" class="menu-link">마이페이지</a></li>
        <li><a href="/mypage/activity" class="menu-link">활동내역 조회</a></li>

        <!-- 로그인된 사용자인 경우에만 캐릭터 등록 링크를 표시 -->
        <li th:if="${session.user != null}">
            <a href="/api/user/lostArk/regist" class="menu-link">캐릭터 등록</a>
        </li>

        <!-- 로그인되지 않은 경우 경고 메시지 표시 -->
        <li th:if="${session.user == null}" class="menu-link">
            <span>로그인 후 이용해주세요</span>
        </li>

        <li><a href="/mypage/guestbook" class="menu-link">방명록</a></li>
    </ul>
</aside>
</html>