<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--sideBarFragment 선언-->
<aside th:fragment="sideBarFragment" class="sidebar">
        <div class="profile-section">
            <img src="/images/bono.jpg" alt="프로필 사진" class="profile-img">
            <h2>보노보노</h2>
        </div>
        <ul class="menu">
            <li><a href="/mypage/activity" class="menu-link">활동내역 조회</a></li>
            <li><a href="/mypage/regist" class="menu-link">캐릭터 등록</a></li>
            <li><a href="/mypage/guestbook" class="menu-link">방명록</a></li>
        </ul>
</aside>
</html>