<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>thymeleaf layout</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>


</head>
<!--	<th:block layout:fragment="css"></th:block>-->


<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>
    <header>
        <div class="header-inner">
            <h1>너만오면고</h1>
            <div class="auth-buttons">
                <a href="login.html" class="auth-item">
                    <i class="fas fa-sign-in-alt"></i> 로그인
                </a>
                <a href="signup.html" class="auth-item">
                    <i class="fas fa-user-plus"></i> 회원가입
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="menu-container">
            <a href="mypage.html" class="menu-item">마이페이지</a>
            <a href="community.html" class="menu-item">커뮤니티 페이지</a>
            <a href="discussion.html" class="menu-item">토론방 페이지</a>
            <a href="recruit.html" class="menu-item">모집글 페이지</a>
        </div>
    </main>

    <footer>
        <p>© 2024 안병우 Website. All Rights Reserved.</p>
    </footer>
</body>
</html>