<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>thymeleaf layout</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/my-page/activity.css}">

</head>
<!--	<th:block layout:fragment="css"></th:block>-->


<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

    <main style="margin-top: 20px;" id="side-con">
        <th:block th:replace="~{fragments/sidebar :: sideBarFragment}"></th:block>
        <section class="content" id="activity-content">
            <div>
                <h1>모집글 활동내역</h1>
            </div>
            <br>
            <br>
            <div class="dashboard-section">
                <table class="dashboard-table">
                    <thead>
                    <tr>
                        <th>구분</th>
                        <th>목표</th>
                        <th>모집인원</th>
                        <th>숙련도</th>
                        <th>출발날짜</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- recruitList 출력 -->
                    <tr th:each="recruit : ${recruitList}">
                        <td>모집글 작성</td>
                        <td th:text="${recruit.goal}"></td>
                        <td th:text="${recruit.recruitmentCount}"></td>
                        <td th:text="${recruit.proficiency}"></td>
                        <td th:text="${recruit.startDate}"></td>
                        <td th:text="${#temporals.format(recruit.createdDate, 'yyyy-MM-dd')}"></td>
                    </tr>

                    <!-- rtList 출력 -->
                    <tr th:each="recruitmentTeam : ${rtList}">
                        <td>모집글 참여</td>
                        <td th:text="${recruitmentTeam.recruitmentEntity.goal}"></td>
                        <td th:text="${recruitmentTeam.recruitmentEntity.recruitmentCount}"></td>
                        <td th:text="${recruitmentTeam.recruitmentEntity.proficiency}"></td>
                        <td th:text="${recruitmentTeam.recruitmentEntity.startDate}"></td>
                        <td th:text="${#temporals.format(recruitmentTeam.recruitmentEntity.createdDate, 'yyyy-MM-dd')}"></td>
                    </tr>

                    <!-- recruitList 또는 rtList가 비어 있을 때 메시지 출력 -->
                    <tr th:if="${recruitList.size() == 0 and rtList.size() == 0}">
                        <td colspan="6">모집글이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>