<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>thymeleaf layout</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/my-page/guestbook.css}">
    <link rel="stylesheet" th:href="@{/css/my-page/activity.css}">

</head>
<!--	<th:block layout:fragment="css"></th:block>-->


<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

    <main style="margin-top: 20px;" id="side-con">
        <th:block th:replace="~{fragments/sidebar :: sideBarFragment}"></th:block>
        <section class="content" id="guestbook-content">
            <div>
                <h1>방명록</h1>
                <br>
                <p>소중한 메세지를 담아둡니다.</p>
            </div>
            <br>
            <br>
            <div class="guestbook-total">
                <span class="tt_txt_g">방명록</span>
                <span class="tt_num_g" th:text="${totalGuestbooks}"></span>
            </div>
            <div class="guestbook-list">
                <ul>
                    <li th:each="guestbook : ${guestbookList}">
                        <strong th:text="${guestbook.username}"></strong>
                        <span class="guestbook-goal" th:text="'목표 :: ' + ${guestbook.goal}"></span>
                        <span class="guestbook-time" th:text="${#temporals.format(guestbook.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                        <p th:text="${guestbook.comment}"></p>
                    </li>
                </ul>
            </div>

        </section>
        <input type="hidden" id="username" th:value="${session.user.getUsername()}">
        <input type="hidden" id="userId" th:value="${session.user.getId()}">
    </main>

    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script th:src="@{/js/my-page/guestbook.js}"></script>
</body>
</html>