/* Custom CSS for Register Page */
.register-page {
    background-color: #f7f8fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;  /* 페이지 전체 높이를 설정 */
    display: flex;
    flex-direction: column;
}

.register-page #main-con {
    flex: 1;  /* main-con이 flex로 확장 가능하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page .register-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-page .register-container h2 {
    margin-bottom: 20px;
    color: #444;
}

.register-page .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.register-page .form-group label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #666;
}

.register-page .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.register-page .form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.register-page .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-page .form-group button:hover {
    background-color: #0056b3;
}

.register-page .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.register-page .register-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.register-page .register-container p a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.register-page .register-container p a:hover {
    color: #0056b3;
}

/* Custom CSS for Username Group */
.register-page .username-group {
    display: flex;
    align-items: center;
}

.register-page .username-group input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.register-page .username-group button {
    width: 50px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    line-height: 10px;
}

.register-page .username-group button:hover {
    background-color: #0056b3;
}
