.writer-con {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #fff;
    max-width: 400px;
    margin-bottom: 40px;
}

.profile-picture {
    margin-right: 15px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.writer-info {
    margin-right: 20px;
    flex-grow: 1;
}

.writer-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.guestbook-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-btn, .write-guestbook-btn {
    width: 100px;
    padding: 10px 11px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-btn:hover, .write-guestbook-btn:hover {
    background-color: #0056b3;
}

/* 모달 오버레이 스타일 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* 모달 내용 스타일 */
.modal-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* 모달 내 버튼 */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close:hover {
    background: #ff1a1a;
}

/* 버튼을 포함한 영역 */
.guest-textarea {
    display: flex;
    flex-direction: column;
}

/* 텍스트 영역 스타일 */
.guest-textarea-input {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    margin-bottom: 10px;
}

.screen_out {
    margin-bottom: 25px;
    font-size: larger;
    font-weight: bold;
}

.guest-submit-con {
    display: flex;
    justify-content: right;
}
/* 등록 버튼 스타일 */
.guest-submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guest-submit-btn:hover {
    background-color: #0056b3;
}